.promo-comics {
    display: flex;

    background-color: #232222;
    height: 100px;
    padding-left: 45px;
    padding-right: 25px;

    img {
        height: 100%;
        &:last-child {
            margin-left: auto;
        }
    }

    &__description {
        font-family: 'Roboto Condensed';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
        text-align: left;
        margin-top: 18px;
        margin-left: 83px;
    }
}